@font-face {
    font-family: franklinRegular;
    src: url(/fonts/FranklinGothicBookRegular.ttf);
}

@font-face {
    font-family: franklinDemi;
    src: url(/fonts/FranklinGothicDemiRegular.ttf);
}

h1, h2, h3, h4 {
	font-family: franklinDemi;
}

p, a, li {
	font-family: franklinRegular;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: inherit;
}

.hover:hover {
	cursor: pointer;
}

.spacer-50 {
	height: 50px;
}

.spacer-40 {
	height: 40px;
}

.spacer-20 {
	height: 20px;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

/*#footer-container {

}*/

#footer {
	margin-top: 50px;
	margin-bottom: 50px;
}

.friend-sites {
	margin-top: 5px;
}

.friend-sites a {
	margin-right: 10px;
	text-transform: uppercase;
}

.friend-sites a:hover {
	text-decoration: underline;
}

.navbar {
	border-radius: 0;
	border: none;
}

.navbar-default {
	background-color: #7ad2ff;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: white;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: black;
}

.active {
	color: #555;
    background-color: #e7e7e7;
}

.navbar-default .navbar-collapse {
	border-color: white;
}

.navbar-brand img {
	padding-top: 2px;
}

#admin-nav .navbar-brand {
	padding: 4px 4px 4px 15px;
}

#login-buttons {
	padding: 15px;
}

#home-wrapper {
	padding-top: 60px;
}

#home-menu {
	padding-top: 60px;
}

#home-menu span {
	text-transform: uppercase;
	text-align: center;
	padding: 15px 0 15px 0;
	background-color: #7ad2ff;
}

#home-menu span:hover {
	background-color: #68ccff;
}

.home-logo {
	max-width: 200px;
}

.social-icons {
	text-align: center;
}

.artist-card, .release-card {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}

/*.artist-card:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}*/

.artist-card img {
	object-fit: cover;
	min-width: 100%;
	max-width: 100%;
	max-height: 100px;
	min-height: 100px;
}

.artist-card span {
	font-size: 0.7em;
}

.artist-banner img {
	min-width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.artist-single-content {
	padding: 10px;
	position: relative;
	z-index: 10;
	margin-top: -50px;
	background-color: white;
	min-width: 100%;
	min-height: 50px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.artist-single-releases {
	margin-top: 30px;
}

.deleteArtistField {
	min-width: 100%;
	padding: 10px 0 10px 0;
	background-color: red;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.release-banner img {
	max-width: 300px;
	margin: auto;

}

.link-list {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -10px;
}

.link-list div {
	margin-bottom: 5px;
}

.link-list a:hover {
	text-decoration: underline;
}

.link-list .dragged {
	background-color: #5cb85c;
}

.link-list .placeholder {
	color: white;
}

.track-list a:hover {
	text-decoration: underline;
}

.events-list {
	margin: 0 auto;
	max-width: 600px;
}

.songkick-logo {
	margin-top: 10px;
}

#mobile-ekstra-menu-item i {
	min-height: 17px;
}

.track-row {
	border-bottom: 2px solid #7ad2ff;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	.track-list {
		padding: 0 40px 0 40px;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	body {
		border: 30px solid transparent;
		padding: 5px;
		-webkit-border-image: url('/images/ja-bg.jpg') 30 round; /* Safari 3.1-5 */
		-o-border-image: url('/images/ja-bg.jpg') 30 round; /* Opera 11-12.1 */
		border-image: url('/images/ja-bg.jpg') 30 round;
	}

	#mobile-ekstra-menu-item {
		display: none;
	}

	.artist-card span {
		font-size: 1em;
	}

	.artist-card img {
		max-height: 200px;
		min-height: 200px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

